<%- include('./layouts/header') %>

  <div class="row g-2">
    <div id="sqlText" class="col-4">
      <div class="sql-action">
        <button type="button" class="btn btn-primary">Visualize</button>
      </div>
      <textarea id="sqlInput"></textarea>
    </div>
    <div id="flow-layout" class="col">
    </div>
  </div>

<%- include('./layouts/footer') %>