<%- include('./layouts/header') %>

  <div id="flow-layout" class="col">
    <h2> Table Flow </h2>

    <div id="table-flow">

    </div>
  </div>

  <div id="sqlText" class="col-5">
    <div class="sql-action p-3 bg-light text-dark">
      <button id="visualize" type="button" class="btn btn-primary">Visualize</button>
    </div>

    <div class="editor" style="height: 100%;">
      <textarea id="sqlInput"></textarea>
    </div>
  </div>

<%- include('./layouts/footer') %>