  </div>

  <script>
    CodeMirror.fromTextArea(document.getElementById("sqlInput"), {
      mode: "text/x-sql",
      lineNumbers: true, 
      matchBrackets: true,
    });
  </script>
</body>
</html>